
  .graph {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica";
    cursor: pointer;
  }
  
  h1 {
    width: 100%;
  }
  
  .graph * {
    transition: all 0.3s ease;
  }
  
  .graph:hover .data {
    transform: scale(2);
    transform-origin: 50% 50%;
    fill: #0d8eff;
  }
  .graph:hover .bg {
    transform: scaleY(0);
    transform-origin: 50% 50%;
  }
  .graph:hover text {
    opacity: 0;
  }
  .graph:hover .markers {
    opacity: 0;
  }
  .graph:hover .result {
    opacity: 1;
    font-size: 80px;
    font-weight: bold;
    -webkit-animation: flicker 2s ease infinite;
            animation: flicker 2s ease infinite;
  }
  
  .result {
    opacity: 0;
  }